ul {
    list-style: none;

}

li {
    border-bottom: 1px solid lightgray;
    text-align: left;
    /* margin-left: 10px; */
    padding-left: 10px;
}

.card-title {
    font-size: 20px;
}

img {
    width: 100px;
    height: 100px;
}

.fiveDayColor {
    padding: 20px;
    background-color: #1E90FF;
    color: white;
    float: left;
    margin: 10px;
    border: 1px solid lightgray;

}

